* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER */
header {
    height: 4.5rem;
    line-height: 4.5rem;
    font-family: 'Catamaran', sans-serif;
    background-color: #2c2c2c;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem 0 3rem;
}

.name_home {
    font-size: 25px;
}

.name_home a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.881);
}

.name_home a:hover > strong {
    color: #BBF2A1;
}

.nav_views nav ul {
    display: flex;
}

.option_view {
    list-style: none;
}

.option_view a {
    text-decoration: none;
    transition: .2s all;
    padding: 0 2rem 0 2rem;
    font-size: 17px;
}

.option_projetos a { 
    color: #BBF2A1;
}

.option_others a {
    color: rgba(255, 255, 255, 0.881);
}

.option_view:hover {
    background-color: rgba(136, 136, 136, 0.158);
}

/* organização */
.networks_container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

/* networks */
.networks nav ul {
    display: flex;
    gap: 1.5rem;
}

.link_network {
    list-style: none;
}

.link_network a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.881);
    transition: .2s all;
}

.i_network {
    padding-right: 5px;
}

.network a:hover {
    color: #BBF2A1;
}

.send_email a {
    background-color: rgba(198, 198, 198, 0.112);
    border-radius: 50%;
    padding: 10px;
}

.send_email a > i {
    color: #BBF2A1;
}

.send_email a:hover > i {
    color: #ffff;
}

/* Dark mode button */
.switch {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.switch + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.switch--shadow + label {
    padding: 2px;
    width: 50px;
    height: 25px;
    background-color: #c0c0c0;
    border-radius: 60px
}

.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: '';
}

.switch--shadow + label:before {
  right: 1px;
  background-color: #f1f1f17a;
  border-radius: 60px;
  transition: all 0.4s;
}

.switch--shadow + label:after {
  width: 23px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}

.switch--shadow:checked + label:before {
    background-color: #8fd370;
  }
  .switch--shadow:checked + label:after {
    transform: translateX(25px);
}


/* SESSÃO DE APRESENTAÇÃO */
section.view1 {
    background-color: #2c2c2c;
    font-family: 'Play', sans-serif;
    display: flex;
    justify-content: space-around;
    height: 85vh;
    padding: 4rem;
}

.apresentacao {
    padding-top: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 2rem;
    gap: 2rem;
}

.vetores-container {
    width: 50%;
}

.front_container {
    background-color: #afef92;
    width: 30%;
    border-radius: 10px;
}

.front_container p {
    padding: 8px;
    font-weight: bold;
    text-align: center;
    cursor: default;
}

#text_h1 {
    font-size: 40px;
    color: #ffff;
    margin-bottom: 1rem;
    cursor: default;
}

#text_h1::after {
    content: '|';
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.descricao {
    color: #ffffff7b;
    opacity: 0;
    transition: .4s;
    font-size: 17px;
    text-align: justify;
    max-width: 90%;
    cursor: default;
}

.link_descricao {
    text-decoration: none;
    color: #bbf2a18d;
    transition: .1s all;
}

.link_descricao:hover {
    color: #bbf2a1c8;
}

.btn-iniciar {
    padding-top: 2rem;
    align-items: center;
    gap: 1rem;
    transition: .4s all;
    opacity: 0;
    display: flex;
}

.btn-iniciar span {
    color: rgba(255, 255, 255, 0.593);
    font-weight: bold;
    font-size: 20px;
}

.btn-iniciar a {
    cursor: default;
}

#img-start {
    height: auto;
    width: 120px;
    cursor: pointer;
}

#cursor_click {
    width: 25px;
    position: relative;
    opacity: 0;
}

.animacao_cursor { 
    animation: cursor_animation 1s;
}

.scale_btn {
    animation: scale 1s;
    animation-delay: .75s;
}

@keyframes scale {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

@keyframes cursor_animation {
    from {
        top: 5rem;
        left: 3rem;
        opacity: 0;
    }
    to {
       top: 10px;
       left: -4rem;
       opacity: 1;
    }
}

/* -- Vetores -- */
.vetores-img {
    position: relative;
    bottom: -2rem;
}

#art-vetor {
    position: absolute;
    left: 9em;
    top: 4em;
    opacity: 0;
    transition: .6s;
    width: 430px;
}

#code_symbol {
    position: absolute;
    opacity: 0;
    transition: .6s;
    height: auto;
    width: 80px;
    left: 19.5em;
    top: -2em;
    animation: code-scale 1.3s infinite alternate ease-in 2.5s;
}

@keyframes code-scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1)
    }
}

#css_vetor {
    position: absolute;
    opacity: 0;
    transition: .6s;
    width: 70px;
    left: 11em;
    animation: css-move 1.2s infinite alternate-reverse ease-in 2.7s;
}

@keyframes css-move {
    from {
        transform: translateY(30px);
    }
    to {
        transform: translateY(0);
    }
}

#react_gif {
    position: absolute;
    opacity: 0;
    transition: .6s;
    width: 70px;
    top: 10em;
    left: 10em;
}

#fumaca-gif {
    position: absolute;
    opacity: 0;
    transition: .6s;
    width: auto;
    height: 90px;
    left: 30em;
    top: 17.5em;
}


#js_vetor {
    position: absolute;
    opacity: 0;
    transition: .6s;
    width: 70px;
    left: 28em;
    animation: js-move 1.3s ease-in 2.7s infinite alternate-reverse;
}

@keyframes js-move {
    from {
        transform: translateY(30px);
    }
    to {
        transform: translateY(0);
    }
}

#html {
    transition: .8s;
    position: absolute;
    opacity: 0;
    width: auto;
    height: 80px;
    top: 10em;
    left: 30em;
}


/* CONTATO WHATSAPP */
.whatsapp-container{
    position: fixed;
    z-index: 1;
    bottom: 1.5rem;
    right: 2rem;
    transition: .1s all;
}

#whatsapp-icon {
    width: 50px;
    animation: whatsapp-move .5s infinite alternate;
    transition: .2s;
}

@keyframes whatsapp-move {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#whatsapp-icon:hover {
    animation: none;
    transform: scale(1.1);
}


