//Section 02: Sobre
section.about {
    @include theme($bg-color-02, $text-opaque-1, $font-catamaran);
    min-height: 85vh;
    @include flexCenter;

    #image-icon-about {
        max-width: 40px;
        max-height: 40px;
    }

    .about-container {
        @include displayFlex(center, space-between, column);
        padding: 3rem 0;
        gap: 14px;

        .aboutMe {
            @include displayFlex(center, center, column);
            padding: 1.5rem 2rem;
            gap: 2em;
            width: 100%;
            transition: .17s all;

            .photo {
                img {
                    border: $primary-opaque 3px solid;
                    border-radius: 50%;
                    width: 220px;
                }
            }

            .about_text {
                text-align: justify;
                font-size: 16px;
            }
        }

        .curriculo {
            display: flex;
            margin-top: -1em;
            margin-bottom: 2rem;

            a #curriculo_img {
                width: 12rem;
            }

            #arrow_download {
                width: 25px;
                height: 25px;
                margin-top: 8px;
                animation: arrow-move .7s infinite alternate;
                transition: .2s;
            }
        }
    }

    @include for-large-devices-portrait {
        .about-container {
            gap: 1rem;

            .aboutMe {
                .photo img {
                    width: 300px
                }

                .about_text {
                    font-size: 20px
                }
            }

            .curriculo {
                a #curriculo_img {
                    width: 15rem
                }

                #arrow_download {
                    margin-top: 12px
                }
            }
        }
    }

    @include for-tablet-landscape {
        @include flexCenter;
        height: 100vh;

        #image-icon-about {
            max-width: 50px;
            max-height: 50px;
        }

        .about-container {
            width: 100%;
            padding: 0;
            gap: 1rem;

            .aboutMe {
                flex-direction: row;
                width: 95%;
                gap: 2.5rem;

                .photo {
                    text-align: center;

                    img {
                        width: 270px;
                    }
                }

                .about_text {
                    font-size: 17px;
                }
            }

            .curriculo {
                a #curriculo_img {
                    width: 14rem;
                }

                #arrow_download {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    @include for-desktop-up {
        .about-container {
            gap: 10px;

            .aboutMe {
                gap: 4rem;

                .photo {
                    img {
                        width: 330px;
                    }
                }

                .about_text {
                    font-size: 20px;
                }
            }

            .curriculo {
                a #curriculo_img {
                    width: 16rem;
                }

                #arrow_download {
                    margin-top: 14px;
                }
            }
        }
    }
}