//Section 01: Início

section.inicio {
    @include theme($bg-color-01, null, $font-play);
    @include displayFlex(center, center, column);
    min-height: 100vh;

    .apresentacao {
        @include displayFlex(center, space-around, column);
        padding: 4.5rem 2rem 2rem;
        width: 100%;
        height: 100%;
        gap: 1.5rem;

        div.front_container {
            background-color: $text-green-light;
            width: 13rem;
            border-radius: 8px;
            padding: 3px;
            @include textStyle(13px, bold, #000);
            text-align: center;
            cursor: default;
        }

        div.text_apresentacao {
            h1 {
                @include textStyle(22px, bold, #ffff);
                text-align: center;
                margin-bottom: 1rem;
                cursor: default;

                &::after {
                    content: '|';
                    opacity: 1;
                    animation: pisca .7s infinite;
                }
            }

            p.descricao {
                @include textStyle(16px, normal, $text-opaque-1);
                transition: .4s;
                text-align: justify;
                line-height: initial;
                cursor: default;
            }
        }

        div.btn-iniciar {
            display: flex;
            align-items: center;
            gap: 1rem;
            transition: .4s all;
            margin-top: -1rem;

            span {
                @include textStyle(18px, bold, rgba(#eee, 0.55));
                cursor: default;
            }

            a {
                cursor: pointer;

                #img-start {
                    height: auto;
                    width: 100px;
                    animation: scale .6s infinite alternate-reverse;
                }
            }
        }

        @include for-tablet-portrait {
            padding: 7rem 3rem 3rem;
            gap: 1.7rem;

            div.front_container {
                padding: 4px;
            }

            div.text_apresentacao {
                h1 {
                    font-size: 25px;
                }

                p.descricao {
                    font-size: 17px;
                    margin-bottom: 10px;
                }
            }

            div.btn-iniciar {
                margin-top: 0;

                span {
                    font-size: 20px
                }
            }
        }

        @include for-large-devices-portrait {
            gap: 2rem;
            padding: 3rem;
            justify-content: space-around;

            div.front_container {
                width: 16rem;
                font-size: 18px;
                padding: 5px
            }

            div.text_apresentacao {
                h1 {
                    font-size: 32px;
                }

                p.descricao {
                    font-size: 21.5px;
                    line-height: 1.8rem;
                }
            }

            div.btn-iniciar {
                span {
                    font-size: 25px
                }

                a #img-start {
                    width: 140px
                }
            }
        }

        @include for-tablet-landscape {
            @include displayFlex(flex-start, center, column);
            width: 60%;
            height: 100%;
            padding-left: 2rem;
            gap: 2rem;

            div.front_container {
                width: 14rem;
                padding: 4px;
            }

            div.text_apresentacao {
                h1 {
                    @include textStyle(27px, bold, #ffff);
                    text-align: start;
                    margin-bottom: 1rem;
                    cursor: default;
                    transition: .2s;

                    &::after {
                        content: '|';
                        opacity: 1;
                        animation: pisca .7s infinite;
                    }
                }

                p.descricao {
                    @include textStyle(16px, normal, $text-opaque-1);
                    transition: .4s;
                    text-align: justify;
                    cursor: default;
                }
            }

            div.btn-iniciar {
                display: flex;
                align-items: center;
                gap: 1rem;
                transition: .4s all;

                span {
                    @include textStyle(20px, bold, rgba(#eee, 0.55));
                    cursor: default;
                }

                a {
                    cursor: pointer;

                    #img-start {
                        height: auto;
                        width: 120px;
                        animation: scale .6s infinite alternate-reverse;
                    }
                }
            }
        }

        @include for-desktop-up {
            width: 50%;
            padding-top: 1rem;

            div.text_apresentacao {
                h1 {
                    font-size: 30px;
                }

                p.descricao {
                    font-size: 18px;
                }
            }
        }
    }

    .vetores-container {
        height: auto;
        margin-bottom: 2rem;
        background-color: #1a1a1a23;
        border-radius: 50%;
        padding: 10%;
        display: flex;
        align-items: center;
        justify-content: center;

        .vetores {
            @include flexCenter;
            position: relative;
            transition: .4s;

            #art-vetor {
                width: 250px;
            }

            .vetores-children {
                position: absolute;

                #code_symbol {
                    @include vetorStyle(40px);
                    animation: code-scale 1.3s infinite alternate ease-in 2.5s;
                    top: -8.5em;
                    left: -1.5em;
                }

                #css_vetor {
                    @include vetorStyle(38px);
                    animation: css-js-move 1.2s infinite alternate-reverse ease-in 2.7s;
                    top: -7em;
                    left: -6.5em;
                }

                #js_vetor {
                    @include vetorStyle(38px);
                    animation: css-js-move 1.2s infinite alternate-reverse ease-in 2.7s;
                    top: -7em;
                    right: -6.2em;
                }

                #react_gif {
                    @include vetorStyle(40px);
                    left: -8em;
                    top: -1em;
                }

                #html {
                    @include vetorStyle(40px);
                    right: -7.6em;
                    top: -1em;
                }
            }
        }

        @include for-large-devices-portrait {
            .vetores {
                #art-vetor {
                    width: 400px
                }

                .vetores-children {
                    #code_symbol {
                        top: -12em;
                        left: -1.7em;
                        width: 50px
                    }

                    #css_vetor {
                        width: 50px;
                        left: -8.3em;
                        top: -8.5em;
                    }

                    #js_vetor {
                        width: 50px;
                        right: -7.9em;
                        top: -8.5em;
                    }

                    #react_gif {
                        width: 50px;
                        left: -10em;
                        top: -8px;
                    }

                    #html {
                        width: 55px;
                        right: -10em;
                        top: -8px;
                    }
                }
            }
        }

        @include for-tablet-landscape {
            @include flexCenter;
            width: 50%;
            margin-bottom: 2rem;

            .vetores {
                // padding-left: 3rem;
                // padding-top: 2rem;

                #art-vetor {
                    width: 330px;
                    transition: .2s;
                }

                .vetores-children {
                    #code_symbol {
                        width: 50px;
                        top: -11em;
                        left: -1.8em;
                    }

                    #css_vetor {
                        width: 45px;
                        top: -8.5em;
                        left: -7.6em;
                    }

                    #js_vetor {
                        width: 45px;
                        top: -8.5em;
                        right: -7.4em;
                    }

                    #react_gif {
                        width: 45px;
                        left: -9.4em;
                    }

                    #html {
                        width: 49px;
                        right: -9.1em;
                        top: -1em;
                    }
                }
            }
        }

        @include for-desktop-up {
            .vetores {
                padding-bottom: 1rem;

                #art-vetor {
                    width: 380px;
                }

                .vetores-children {
                    #code_symbol {
                        width: 55px;
                        top: -12em;
                        left: -2em;
                    }

                    #css_vetor {
                        width: 50px;
                        top: -9.5em;
                        left: -9em;
                    }

                    #js_vetor {
                        width: 50px;
                        top: -9.5em;
                        right: -8.5em;
                    }

                    #react_gif {
                        width: 51px;
                        left: -11.5em;
                    }

                    #html {
                        width: 55px;
                        right: -11em;
                    }
                }
            }
        }
    }

    @include for-tablet-landscape {
        @include displayFlex(center, space-evenly, row);
        height: 100vh;
        margin: 1rem 3rem;
    }
}