//estilos parciais
@import './partials/reset';
@import './partials/variables';
@import './partials/mixins';
@import './partials/breakpoints';
@import './partials/keyframes';

//sessões da página
@import './header';
@import './inicio';
@import './about';
@import './skills';
@import './projects';
@import './contact';


html {
    scroll-behavior: smooth;
}

body {
    background-color: #1a1a1a;
}

//Títulos
.title-section {
    display: inline-flex;
    align-items: center;
    text-align: center;
    gap: 15px;
    cursor: default;

    h1,
    h2,
    h3,
    h4,
    h5 {
        text-transform: uppercase;
        text-align: center;
        transition: all .2s;
        @include textStyle(25px, bold, $text-green-strong);

        @include for-tablet-landscape {
            font-size: 32px
        }

        @include for-desktop-up {
            font-size: 35px;
        }
    }


}