//estilos parciais
@import './partials/reset';
@import './partials/variables';
@import './partials/mixins';
@import './partials/breakpoints';
@import './partials/keyframes';

//sessões da página
@import './header';
@import './inicio';
@import './about';
@import './skills';
@import './projects';
@import './contact';
@import './footer';


html {
    scroll-behavior: smooth;
}

body {
    background-color: #1a1a1a;
}

//Títulos
.title-section {
    display: inline-flex;
    align-items: center;
    text-align: center;
    gap: 15px;
    cursor: default;

    h1,
    h2,
    h3,
    h4,
    h5 {
        text-transform: uppercase;
        text-align: center;
        transition: all .2s;
        @include textStyle(24px, bold, $text-green-strong);

        @include for-large-devices-portrait {
            font-size: 28px;
        }

        @include for-tablet-landscape {
            font-size: 32px
        }

        @include for-desktop-up {
            font-size: 35px;
        }
    }
}

.back-to-top {
    display: none;
    background: $text-green-strong;
    border-radius: 50%;
    bottom: 1rem;
    right: 1rem;
    width: 55px;
    height: 55px;
    z-index: 3;
    box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, .75);
    color: white;
    cursor: pointer;
    position: fixed;
    animation: back-to-top .5s infinite alternate-reverse;
    text-decoration: none;
    border: solid 3px $text-green-strong;

    &::after {
        content: '▲';
        @include flexCenter;
        font-size: 28px;
        color: white;
    }

    &:active {
        background-color: #1a1a1a;
    }

    @keyframes back-to-top {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(8px);
        }
    }
}