@keyframes pisca {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scale {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.9);
    }
}

@keyframes code-scale {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1)
    }
}

@keyframes css-js-move {
    from {
        transform: translateY(30px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes arrow-move {
    from {
        transform: translateY(10px)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes move-img-slide {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(10px);
    }
}

@keyframes rotate-img-slide {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes anim-stars {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-150px);
    }
}