@mixin displayFlex ($alignItems, $justifyContent, $direction) {
    display: flex;
    align-items: $alignItems;
    justify-content: $justifyContent;
    flex-direction: $direction;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin theme ($background, $textColor, $fontFamily) {
    background: $background;
    color: $textColor;
    font-family: $fontFamily;
}

@mixin userSelectNone() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin textStyle($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin skillAfter($bg-color, $border-top-color, $border-bottom-color) {
    background-color: $bg-color;
    border-top: solid 2px $border-top-color;
    border-bottom: solid 3px $border-bottom-color;
}

@mixin nav-sections-responsive($width, $fontSize) {
    ul {
        display: none;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        right: 0;
        padding: 0 0 6rem;
        height: 100vh;
        width: $width;
        background-color: $text-green-strong;

        #close-nav {
            display: inline-flex;
            justify-content: flex-end;
            margin-bottom: 2rem;
        }

        li {
            width: 100%;
            height: 100%;
            @include flexCenter;

            a {
                display: block;
                width: 100%;
                font-size: $fontSize;
                color: #1c1c1c;
                text-transform: uppercase;
                font-weight: bold;
            }

            #my-projects {
                color: #1c1c1c;
            }

            &:hover {
                background-color: rgba(#000, .1);
                border-left: solid 10px #1c1c1c;

                a,
                #my-projects {
                    color: #eee;
                    font-size: 27px;

                    &::before {
                        content: url('/assets/img/icons/guia.png');
                        padding-right: 5px;
                    }
                }
            }
        }
    }
}