@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

//backgrounds
$bg-color-01: #2c2c2c;
$bg-color-02: #242424;

//text colors
$text-green-light: #adf48a;
$text-green-strong: #91ea67;
$text-opaque-1: #ffffff7b;
$text-opaque-2: rgba(255, 255, 255, 0.881);

//fonts
$font-catamaran: 'Catamaran', sans-serif;
$font-play: 'Play', sans-serif;