@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button,
[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
}

p {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@-webkit-keyframes pisca {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pisca {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}
@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}
@-webkit-keyframes code-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes code-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@-webkit-keyframes css-js-move {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes css-js-move {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes arrow-move {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes arrow-move {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes move-img-slide {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}
@keyframes move-img-slide {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}
@-webkit-keyframes rotate-img-slide {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate-img-slide {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes anim-stars {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-150px);
  }
}
@keyframes anim-stars {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-150px);
  }
}
header {
  width: 100%;
  height: 4.2rem;
  line-height: 4.2rem;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 0 2rem;
  background: #2c2c2c;
  font-family: "Catamaran", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.2s all;
}
header .home a {
  font-size: 22px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.881);
  transition: 0.3s;
}
header .home a:hover > strong {
  color: #BBF2A1;
}
header nav.nav-sections {
  height: 100%;
}
header nav.nav-sections ul {
  transition: all 0.2s;
}
header nav.nav-sections ul li {
  list-style: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s;
}
header nav.nav-sections ul li:hover {
  background-color: rgba(136, 136, 136, 0.158);
}
header nav.nav-sections ul li a {
  text-decoration: none;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.881);
  transition: 0.2s all;
  display: block;
}
header nav.nav-sections ul li #my-projects {
  color: #BBF2A1;
}
header nav.nav-sections #close-nav {
  display: none;
  cursor: pointer;
  color: #1c1c1c;
}
header nav.nav-sections #close-nav:hover {
  color: #b0212d;
}
header nav.networks {
  height: 100%;
}
header nav.networks ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.3rem;
  transition: all 0.3s;
}
header nav.networks ul li {
  list-style: none;
}
header nav.networks ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.881);
}
header nav.networks ul li a:hover {
  color: #BBF2A1;
}
header nav.networks ul li a i {
  padding-right: 5px;
}
header #btn-menu {
  display: none;
  color: rgba(255, 255, 255, 0.881);
  font-size: 27px;
  cursor: pointer;
}
header #btn-menu:hover {
  color: #BBF2A1;
}
@media (max-width: 599.9px) {
  header {
    height: 4rem;
    line-height: 4rem;
  }
  header nav.nav-sections ul {
    display: none;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    padding: 0 0 6rem;
    height: 100vh;
    width: 100vw;
    background-color: #c7fa73;
  }
  header nav.nav-sections ul #close-nav {
    display: inline-flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
  }
  header nav.nav-sections ul li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header nav.nav-sections ul li a {
    display: block;
    width: 100%;
    font-size: 25px;
    color: #1c1c1c;
    text-transform: uppercase;
    font-weight: bold;
  }
  header nav.nav-sections ul li #my-projects {
    color: #1c1c1c;
  }
  header nav.nav-sections ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-left: solid 10px #1c1c1c;
  }
  header nav.nav-sections ul li:hover a::before,
header nav.nav-sections ul li:hover #my-projects::before {
    content: url("/assets/img/icons/guia.png");
    padding-right: 5px;
  }
  header nav.nav-sections #close-nav {
    font-size: 50px;
    padding: 15px;
  }
  header .networks {
    display: none;
  }
  header #btn-menu {
    display: block;
  }
}
@media (min-width: 600px) and (max-width: 899.9px) {
  header nav.nav-sections ul {
    display: none;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    padding: 0 0 6rem;
    height: 100vh;
    width: 70vw;
    background-color: #c7fa73;
  }
  header nav.nav-sections ul #close-nav {
    display: inline-flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
  }
  header nav.nav-sections ul li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header nav.nav-sections ul li a {
    display: block;
    width: 100%;
    font-size: 25px;
    color: #1c1c1c;
    text-transform: uppercase;
    font-weight: bold;
  }
  header nav.nav-sections ul li #my-projects {
    color: #1c1c1c;
  }
  header nav.nav-sections ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-left: solid 10px #1c1c1c;
  }
  header nav.nav-sections ul li:hover a::before,
header nav.nav-sections ul li:hover #my-projects::before {
    content: url("/assets/img/icons/guia.png");
    padding-right: 5px;
  }
  header nav.nav-sections #close-nav {
    font-size: 50px;
    padding: 15px;
  }
  header nav.networks .network i {
    font-size: 20px;
  }
  header nav.networks .network span {
    display: none;
  }
  header nav.networks #send-email a i {
    color: rgba(255, 255, 255, 0.881);
    font-size: 20px;
  }
  header nav.networks #send-email a:hover > i {
    color: #BBF2A1;
  }
  header #btn-menu {
    display: block;
  }
}
@media (min-width: 700px) and (max-width: 900px) and (min-height: 1000px) and (orientation: portrait) {
  header .home a {
    font-size: 23px;
  }
}
@media (min-width: 900px) {
  header header {
    padding: 0 2rem;
  }
  header .home a {
    font-size: 21px;
  }
  header nav.nav-sections ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: inherit;
    height: auto;
    width: 100%;
  }
  header nav.nav-sections ul li {
    padding: 0 10px;
  }
  header nav.nav-sections ul li a {
    font-size: 15px;
  }
  header nav.networks ul {
    gap: 15px;
  }
  header nav.networks ul li {
    font-size: 14px;
  }
  header nav.networks #send-email a i {
    background-color: rgba(238, 238, 238, 0.1);
    color: #BBF2A1;
    border-radius: 50%;
    padding: 12px;
  }
  header nav.networks #send-email a:hover > i {
    color: #fff;
  }
}
@media (min-width: 1200px) {
  header .home a {
    font-size: 25px;
  }
  header nav.nav-sections ul li {
    padding: 0 1rem;
  }
  header nav.nav-sections ul li a {
    font-size: 17px;
  }
  header nav.networks ul li {
    font-size: 17px;
  }
}

section.inicio {
  background: #2c2c2c;
  font-family: "Play", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
section.inicio .apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 4.5rem 2rem 2rem;
  width: 100%;
  height: 100%;
  gap: 1.5rem;
}
section.inicio .apresentacao div.front_container {
  background-color: #abed8d;
  width: 13rem;
  border-radius: 8px;
  padding: 3px;
  font-size: 13px;
  font-weight: bold;
  color: #000;
  text-align: center;
  cursor: default;
}
section.inicio .apresentacao div.text_apresentacao h1 {
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
  cursor: default;
}
section.inicio .apresentacao div.text_apresentacao h1::after {
  content: "|";
  opacity: 1;
  -webkit-animation: pisca 0.7s infinite;
          animation: pisca 0.7s infinite;
}
section.inicio .apresentacao div.text_apresentacao p.descricao {
  font-size: 16px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.4823529412);
  transition: 0.4s;
  text-align: justify;
  line-height: initial;
  cursor: default;
}
section.inicio .apresentacao div.btn-iniciar {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: 0.4s all;
  margin-top: -1rem;
}
section.inicio .apresentacao div.btn-iniciar span {
  font-size: 18px;
  font-weight: bold;
  color: rgba(238, 238, 238, 0.55);
  cursor: default;
}
section.inicio .apresentacao div.btn-iniciar a {
  cursor: pointer;
}
section.inicio .apresentacao div.btn-iniciar a #img-start {
  height: auto;
  width: 100px;
  animation: scale 0.6s infinite alternate-reverse;
}
@media (min-width: 600px) {
  section.inicio .apresentacao {
    padding: 7rem 3rem 3rem;
    gap: 1.7rem;
  }
  section.inicio .apresentacao div.front_container {
    padding: 4px;
  }
  section.inicio .apresentacao div.text_apresentacao h1 {
    font-size: 25px;
  }
  section.inicio .apresentacao div.text_apresentacao p.descricao {
    font-size: 17px;
    margin-bottom: 10px;
  }
  section.inicio .apresentacao div.btn-iniciar {
    margin-top: 0;
  }
  section.inicio .apresentacao div.btn-iniciar span {
    font-size: 20px;
  }
}
@media (min-width: 700px) and (max-width: 900px) and (min-height: 1000px) and (orientation: portrait) {
  section.inicio .apresentacao {
    gap: 2rem;
    padding: 3rem;
    justify-content: space-around;
  }
  section.inicio .apresentacao div.front_container {
    width: 16rem;
    font-size: 18px;
    padding: 5px;
  }
  section.inicio .apresentacao div.text_apresentacao h1 {
    font-size: 32px;
  }
  section.inicio .apresentacao div.text_apresentacao p.descricao {
    font-size: 21.5px;
    line-height: 1.8rem;
  }
  section.inicio .apresentacao div.btn-iniciar span {
    font-size: 25px;
  }
  section.inicio .apresentacao div.btn-iniciar a #img-start {
    width: 140px;
  }
}
@media (min-width: 900px) {
  section.inicio .apresentacao {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 100%;
    padding-left: 2rem;
    gap: 2rem;
  }
  section.inicio .apresentacao div.front_container {
    width: 14rem;
    padding: 4px;
  }
  section.inicio .apresentacao div.text_apresentacao h1 {
    font-size: 27px;
    font-weight: bold;
    color: white;
    text-align: start;
    margin-bottom: 1rem;
    cursor: default;
    transition: 0.2s;
  }
  section.inicio .apresentacao div.text_apresentacao h1::after {
    content: "|";
    opacity: 1;
    -webkit-animation: pisca 0.7s infinite;
            animation: pisca 0.7s infinite;
  }
  section.inicio .apresentacao div.text_apresentacao p.descricao {
    font-size: 16px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.4823529412);
    transition: 0.4s;
    text-align: justify;
    cursor: default;
  }
  section.inicio .apresentacao div.btn-iniciar {
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: 0.4s all;
  }
  section.inicio .apresentacao div.btn-iniciar span {
    font-size: 20px;
    font-weight: bold;
    color: rgba(238, 238, 238, 0.55);
    cursor: default;
  }
  section.inicio .apresentacao div.btn-iniciar a {
    cursor: pointer;
  }
  section.inicio .apresentacao div.btn-iniciar a #img-start {
    height: auto;
    width: 120px;
    animation: scale 0.6s infinite alternate-reverse;
  }
}
@media (min-width: 1200px) {
  section.inicio .apresentacao {
    width: 50%;
    padding-top: 1rem;
  }
  section.inicio .apresentacao div.text_apresentacao h1 {
    font-size: 30px;
  }
  section.inicio .apresentacao div.text_apresentacao p.descricao {
    font-size: 18px;
  }
}
section.inicio .vetores-container {
  width: 100%;
  height: auto;
  margin: 2rem 0 4rem;
}
section.inicio .vetores-container .vetores {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
section.inicio .vetores-container .vetores #art-vetor {
  width: 250px;
}
section.inicio .vetores-container .vetores .vetores-children {
  position: absolute;
}
section.inicio .vetores-container .vetores .vetores-children #code_symbol {
  position: absolute;
  transition: 0.6s;
  width: 40px;
  height: auto;
  -webkit-animation: code-scale 1.3s infinite alternate ease-in 2.5s;
          animation: code-scale 1.3s infinite alternate ease-in 2.5s;
  top: -9em;
  left: -1.5em;
}
section.inicio .vetores-container .vetores .vetores-children #css_vetor {
  position: absolute;
  transition: 0.6s;
  width: 38px;
  height: auto;
  animation: css-js-move 1.2s infinite alternate-reverse ease-in 2.7s;
  top: -8em;
  left: -6.5em;
}
section.inicio .vetores-container .vetores .vetores-children #js_vetor {
  position: absolute;
  transition: 0.6s;
  width: 38px;
  height: auto;
  animation: css-js-move 1.2s infinite alternate-reverse ease-in 2.7s;
  top: -8em;
  right: -6.2em;
}
section.inicio .vetores-container .vetores .vetores-children #react_gif {
  position: absolute;
  transition: 0.6s;
  width: 40px;
  height: auto;
  left: -8em;
  top: -1em;
}
section.inicio .vetores-container .vetores .vetores-children #html {
  position: absolute;
  transition: 0.6s;
  width: 40px;
  height: auto;
  right: -7.6em;
  top: -1em;
}
@media (min-width: 700px) and (max-width: 900px) and (min-height: 1000px) and (orientation: portrait) {
  section.inicio .vetores-container .vetores #art-vetor {
    width: 400px;
  }
  section.inicio .vetores-container .vetores .vetores-children #code_symbol {
    top: -12em;
    left: -1.7em;
    width: 50px;
  }
  section.inicio .vetores-container .vetores .vetores-children #css_vetor {
    width: 50px;
    left: -8.3em;
    top: -8.5em;
  }
  section.inicio .vetores-container .vetores .vetores-children #js_vetor {
    width: 50px;
    right: -7.9em;
    top: -8.5em;
  }
  section.inicio .vetores-container .vetores .vetores-children #react_gif {
    width: 50px;
    left: -10em;
    top: -8px;
  }
  section.inicio .vetores-container .vetores .vetores-children #html {
    width: 55px;
    right: -10em;
    top: -8px;
  }
}
@media (min-width: 900px) {
  section.inicio .vetores-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-bottom: 2rem;
  }
  section.inicio .vetores-container .vetores {
    padding-left: 3rem;
    padding-top: 2rem;
  }
  section.inicio .vetores-container .vetores #art-vetor {
    width: 330px;
    transition: 0.2s;
  }
  section.inicio .vetores-container .vetores .vetores-children #code_symbol {
    width: 50px;
    top: -11em;
    left: -1.8em;
  }
  section.inicio .vetores-container .vetores .vetores-children #css_vetor {
    width: 45px;
    top: -8.5em;
    left: -7.6em;
  }
  section.inicio .vetores-container .vetores .vetores-children #js_vetor {
    width: 45px;
    top: -8.5em;
    right: -7.4em;
  }
  section.inicio .vetores-container .vetores .vetores-children #react_gif {
    width: 45px;
    left: -9.4em;
  }
  section.inicio .vetores-container .vetores .vetores-children #html {
    width: 49px;
    right: -9.1em;
    top: -1em;
  }
}
@media (min-width: 1200px) {
  section.inicio .vetores-container .vetores {
    padding-bottom: 1rem;
  }
  section.inicio .vetores-container .vetores #art-vetor {
    width: 380px;
  }
  section.inicio .vetores-container .vetores .vetores-children #code_symbol {
    width: 55px;
    top: -12em;
    left: -2em;
  }
  section.inicio .vetores-container .vetores .vetores-children #css_vetor {
    width: 50px;
    top: -9.5em;
    left: -9em;
  }
  section.inicio .vetores-container .vetores .vetores-children #js_vetor {
    width: 50px;
    top: -9.5em;
    right: -8.5em;
  }
  section.inicio .vetores-container .vetores .vetores-children #react_gif {
    width: 51px;
    left: -11.5em;
  }
  section.inicio .vetores-container .vetores .vetores-children #html {
    width: 55px;
    right: -11em;
  }
}
@media (min-width: 900px) {
  section.inicio {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: 100vh;
    margin: 1rem 3rem;
  }
}

section.about {
  background: #242424;
  color: rgba(255, 255, 255, 0.4823529412);
  font-family: "Catamaran", sans-serif;
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.about:target {
  scroll-margin-top: 4rem;
}
section.about #image-icon-about {
  max-width: 40px;
  max-height: 40px;
}
section.about .about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 3rem 0;
  gap: 14px;
}
section.about .about-container .aboutMe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem 2rem;
  gap: 2em;
  width: 100%;
  transition: 0.17s all;
}
section.about .about-container .aboutMe .photo img {
  border: rgba(143, 211, 112, 0.5411764706) 3px solid;
  border-radius: 50%;
  width: 220px;
}
section.about .about-container .aboutMe .about_text {
  text-align: justify;
  font-size: 16px;
}
section.about .about-container .curriculo {
  display: flex;
  margin-top: -1em;
  margin-bottom: 2rem;
}
section.about .about-container .curriculo a #curriculo_img {
  width: 12rem;
}
section.about .about-container .curriculo #arrow_download {
  width: 25px;
  height: 25px;
  margin-top: 8px;
  -webkit-animation: arrow-move 0.7s infinite alternate;
          animation: arrow-move 0.7s infinite alternate;
  transition: 0.2s;
}
@media (min-width: 700px) and (max-width: 900px) and (min-height: 1000px) and (orientation: portrait) {
  section.about .about-container {
    gap: 1rem;
  }
  section.about .about-container .aboutMe .photo img {
    width: 300px;
  }
  section.about .about-container .aboutMe .about_text {
    font-size: 20px;
  }
  section.about .about-container .curriculo a #curriculo_img {
    width: 15rem;
  }
  section.about .about-container .curriculo #arrow_download {
    margin-top: 12px;
  }
}
@media (min-width: 900px) {
  section.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  section.about #image-icon-about {
    max-width: 50px;
    max-height: 50px;
  }
  section.about:target {
    scroll-margin-top: 2rem;
  }
  section.about .about-container {
    width: 100%;
    padding: 0;
    gap: 1rem;
  }
  section.about .about-container .aboutMe {
    flex-direction: row;
    width: 95%;
    gap: 2.5rem;
  }
  section.about .about-container .aboutMe .photo {
    text-align: center;
  }
  section.about .about-container .aboutMe .photo img {
    width: 270px;
  }
  section.about .about-container .aboutMe .about_text {
    font-size: 17px;
  }
  section.about .about-container .curriculo a #curriculo_img {
    width: 14rem;
  }
  section.about .about-container .curriculo #arrow_download {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 1200px) {
  section.about .about-container {
    gap: 10px;
  }
  section.about .about-container .aboutMe {
    gap: 4rem;
  }
  section.about .about-container .aboutMe .photo img {
    width: 330px;
  }
  section.about .about-container .aboutMe .about_text {
    font-size: 20px;
  }
  section.about .about-container .curriculo a #curriculo_img {
    width: 16rem;
  }
  section.about .about-container .curriculo #arrow_download {
    margin-top: 14px;
  }
}

section.skills {
  background: #2c2c2c;
  color: rgba(255, 255, 255, 0.881);
  font-family: "Catamaran", sans-serif;
  width: 100%;
  position: relative;
  min-height: 80vh;
  height: 80vh;
}
section.skills:target {
  scroll-margin-top: 5rem;
}
section.skills .skillsContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 3rem;
  width: 100%;
  height: 85%;
  gap: 3rem;
}
section.skills .skillsContainer #image-title-skills {
  max-width: 25px;
  max-height: 30px;
  margin-top: -17px;
}
section.skills .skillsContainer .swiper,
section.skills .skillsContainer .skill-img {
  width: 100%;
  height: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
section.skills .skillsContainer .skill {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section.skills .skillsContainer .skill strong {
  font-size: 17px;
  padding-bottom: 4px;
}
section.skills .skillsContainer .skill img {
  max-width: 150px;
  width: 100px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  -webkit-animation: move-img-slide 1s infinite alternate;
          animation: move-img-slide 1s infinite alternate;
}
section.skills .skillsContainer .skill::after {
  content: "";
  height: 9px;
  width: 60px;
  border-radius: 50%;
  margin-top: 20px;
}
section.skills .skillsContainer #skill-html::after {
  background-color: rgba(110, 34, 34, 0.775);
  border-top: solid 2px rgba(238, 184, 184, 0.445);
  border-bottom: solid 3px rgb(186, 164, 164);
}
section.skills .skillsContainer #skill-css::after {
  background-color: rgba(34, 64, 110, 0.674);
  border-top: solid 2px rgba(181, 195, 216, 0.445);
  border-bottom: solid 3px rgb(164, 167, 186);
}
section.skills .skillsContainer #skill-js::after {
  background-color: rgba(129, 113, 34, 0.744);
  border-top: solid 2px rgba(233, 224, 199, 0.445);
  border-bottom: solid 3px rgb(196, 190, 171);
}
section.skills .skillsContainer #skill-sass::after {
  background-color: rgba(161, 75, 89, 0.673);
  border-top: solid 2px rgba(239, 192, 200, 0.508);
  border-bottom: solid 3px rgba(239, 192, 200, 0.81);
}
section.skills .skillsContainer #skill-reactjs::after {
  background-color: rgba(43, 81, 137, 0.775);
  border-top: solid 2px rgba(181, 195, 216, 0.445);
  border-bottom: solid 3px rgb(164, 167, 186);
}
section.skills .skillsContainer #skill-nodejs::after {
  background-color: rgba(42, 129, 65, 0.677);
  border-top: solid 2px rgba(178, 203, 178, 0.445);
  border-bottom: solid 3px rgb(189, 214, 193);
}
section.skills .skillsContainer #skill-git::after {
  background-color: rgba(133, 41, 41, 0.775);
  border-top: solid 2px rgba(232, 168, 168, 0.445);
  border-bottom: solid 3px rgb(194, 176, 176);
}
section.skills .skillsContainer #skill-github::after {
  background-color: rgba(122, 122, 122, 0.626);
  border-top: solid 2px rgba(219, 218, 218, 0.459);
  border-bottom: solid 3px rgb(216, 216, 216);
}
section.skills .skillsContainer #skill-figma::after {
  background-color: rgba(140, 36, 135, 0.64);
  border-top: solid 2px rgba(211, 204, 211, 0.445);
  border-bottom: solid 3px rgb(193, 166, 196);
}
section.skills .skillsContainer div.swiper-button-prev,
section.skills .skillsContainer div.swiper-button-next {
  color: rgba(255, 255, 255, 0.808);
}
section.skills .skillsContainer div.swiper-button-prev:hover,
section.skills .skillsContainer div.swiper-button-next:hover {
  color: #85c766;
}
section.skills .resetBg {
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 0;
  bottom: 4%;
  right: 4%;
}
section.skills .resetBg img {
  width: 90px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
section.skills .resetBg i {
  background: #70ae53;
  color: #fff;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  border: 2px solid #70ae53;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  cursor: pointer;
}
section.skills .resetBg i:hover {
  background-color: black;
}
@media (min-width: 900px) {
  section.skills {
    height: 100vh;
  }
  section.skills .skillsContainer .skill img {
    width: 110px;
  }
  section.skills #btn-reset-bg {
    bottom: 7%;
    right: 5%;
  }
}

section.projects {
  background: #242424;
  font-family: "Catamaran", sans-serif;
  text-align: center;
}
section.projects:target {
  scroll-margin-top: 3rem;
}
section.projects .projetos_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 2rem;
}
section.projects .projetos_container #image-title-projects {
  width: 30px;
  height: 40px;
  margin-top: -20px;
  margin-left: -5px;
}
section.projects .projetos_container .cards {
  display: grid;
  text-align: center;
  transition: 0.2s;
}
section.projects .projetos_container .cards .card_projeto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  border-radius: 15px;
  text-align: justify;
  height: auto;
  background-color: rgba(255, 255, 255, 0.062);
  transition: 0.2s all;
}
section.projects .projetos_container .cards .card_projeto::before {
  content: "";
  width: 50%;
  height: 7px;
  background: #85c766;
  border-radius: 20px;
  position: relative;
  bottom: 20px;
}
section.projects .projetos_container .cards .card_projeto .titulo_projeto {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.881);
  font-size: clamp(10px, 5vw, 20px);
  text-transform: uppercase;
}
section.projects .projetos_container .cards .card_projeto .imagem_projeto img {
  width: 100%;
  max-width: 400px;
}
section.projects .projetos_container .cards .card_projeto .descricao_projeto {
  color: rgba(255, 255, 255, 0.4823529412);
  text-align: justify;
}
section.projects .projetos_container .cards .card_projeto .links_projeto {
  display: flex;
  padding: 0 0 6px;
  width: 100%;
}
section.projects .projetos_container .cards .card_projeto .links_projeto a {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.881);
  background: #2c2c2c;
  font-family: "Play", sans-serif;
  text-decoration: none;
  border: solid 1px rgba(143, 211, 112, 0.5411764706);
  border-radius: 8px;
  text-align: center;
}
section.projects .projetos_container .cards .card_projeto .links_projeto a:hover {
  background-color: #85c766;
  color: #242424;
}
@media (max-width: 599.9px) {
  section.projects .cards {
    grid-template-columns: 1fr;
  }
  section.projects .cards .card_projeto .descricao_projeto {
    font-size: 14px;
  }
  section.projects h4 {
    font-size: 22px;
  }
}
@media (max-width: 400px) {
  section.projects .cards {
    grid-gap: 2rem;
  }
  section.projects .cards .card_projeto {
    width: 100%;
  }
  section.projects .cards .card_projeto .links_projeto {
    gap: 10px;
  }
  section.projects .cards .card_projeto .links_projeto a {
    width: 50%;
    padding: 5px;
    font-size: 12px;
    transition: 0.2s all;
  }
}
@media (min-width: 401px) {
  section.projects .cards {
    grid-gap: 2.5rem;
  }
  section.projects .cards .card_projeto {
    width: 320px;
  }
  section.projects .cards .card_projeto .links_projeto {
    gap: 15px;
  }
  section.projects .cards .card_projeto .links_projeto a {
    width: 50%;
    padding: 5px;
    font-size: 14px;
  }
}
@media (min-width: 600px) {
  section.projects .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  section.projects .cards .card_projeto {
    width: 100%;
  }
  section.projects .cards .card_projeto .descricao_projeto {
    font-size: 15px;
  }
}
@media (min-width: 900px) {
  section.projects .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  section.projects .cards .card_projeto .descricao_projeto {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  section.projects {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  section.projects .cards {
    padding-top: 1rem;
    grid-gap: 3rem;
  }
  section.projects .cards .card_projeto {
    width: 370px;
  }
  section.projects .cards .card_projeto .descricao_projeto {
    font-size: 16px;
  }
  section.projects .cards .card_projeto .links_projeto a {
    font-size: 16px;
  }
}

section.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #2c2c2c;
  color: rgba(255, 255, 255, 0.881);
  font-family: "Catamaran", sans-serif;
  min-height: 80vh;
}
section.contact:target {
  scroll-margin-top: 1rem;
}
section.contact .title-contact {
  margin-top: 3rem;
}
section.contact #image-title-contact {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}
section.contact .contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
  gap: 10px;
  width: 100%;
}
section.contact .contact-container .infos-contact {
  padding: 0 2rem;
  width: 100%;
  text-align: center;
}
section.contact .contact-container .infos-contact span {
  font-size: 18px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.881);
  text-transform: uppercase;
  cursor: default;
  white-space: nowrap;
}
section.contact .contact-container .infos-contact p {
  color: rgba(255, 255, 255, 0.4823529412);
  font-size: 14px;
}
section.contact .contact-container .infos-contact p img {
  width: 20px;
  opacity: 0.6;
  padding-left: 4px;
}
section.contact .contact-container .infos-contact ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
section.contact .contact-container .infos-contact ul li {
  list-style: none;
  white-space: nowrap;
}
section.contact .contact-container .infos-contact ul li a {
  font-size: 17px;
  font-weight: normal;
  color: #d4d3d3;
  text-decoration: none;
}
section.contact .contact-container .infos-contact ul li a:hover {
  color: #fff;
}
section.contact .contact-container .infos-contact ul li a i {
  font-size: 15px;
  padding-right: 5px;
}
section.contact .contact-container .infos-contact ul #info-wpp i {
  color: #85c766;
}
section.contact .contact-container .infos-contact ul #info-linkedin i {
  color: #4e98de;
}
section.contact .contact-container .infos-contact ul #info-mail i {
  color: #bdbbbb;
}
section.contact .contact-container .send-message {
  width: 100%;
  padding: 0 2rem;
}
section.contact .contact-container .send-message form {
  display: flex;
  flex-direction: column;
}
section.contact .contact-container .send-message form input,
section.contact .contact-container .send-message form textarea {
  width: 100%;
  margin-bottom: 1em;
  border-radius: 5px;
  border: solid 2px #069134;
  background-color: #eee;
}
section.contact .contact-container .send-message form input {
  padding: 5px;
  font-size: 14px;
}
section.contact .contact-container .send-message form textarea {
  padding: 7px;
  resize: none;
  height: 10rem;
}
section.contact .contact-container .send-message form #btn-submit {
  font-size: 17px;
  font-weight: bold;
  color: inherit;
  text-transform: uppercase;
  text-align: center;
  margin-top: 8px;
  cursor: pointer;
  padding: 5px;
  transition: 0.2s;
  background-color: #85c766;
  color: white;
}
section.contact .contact-container .send-message form #btn-submit:active {
  transform: scale(0.95);
}
@media (min-width: 600px) {
  section.contact .contact-container {
    gap: 1.5rem;
  }
  section.contact .contact-container .infos-contact {
    text-align: center;
  }
  section.contact .contact-container .infos-contact ul {
    gap: 2rem;
  }
  section.contact .contact-container .send-message form {
    align-items: center;
  }
  section.contact .contact-container .send-message form label {
    width: 80%;
  }
  section.contact .contact-container .send-message form input,
section.contact .contact-container .send-message form textarea {
    width: 80%;
  }
}
@media (min-width: 700px) {
  section.contact .contact-container .infos-contact {
    padding: 0 3rem;
  }
  section.contact .contact-container .send-message {
    padding: 0 3rem;
  }
}
@media (min-width: 700px) and (max-width: 900px) and (min-height: 1000px) and (orientation: portrait) {
  section.contact .contact-container .infos-contact span {
    font-size: 24px;
  }
  section.contact .contact-container .infos-contact p {
    font-size: 20px;
  }
  section.contact .contact-container .infos-contact ul li a {
    font-size: 18px;
  }
  section.contact .contact-container .send-message form label {
    font-size: 18px;
  }
  section.contact .contact-container .send-message form input,
section.contact .contact-container .send-message form textarea {
    padding: 10px;
    font-size: 18px;
  }
  section.contact .contact-container .send-message form textarea {
    height: 14rem;
  }
  section.contact .contact-container .send-message form #btn-submit {
    padding: 13px;
    font-size: 20px;
    margin-top: 15px;
  }
}
@media (min-width: 900px) {
  section.contact .contact-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-beetwen;
    flex-direction: row;
  }
  section.contact .contact-container .infos-contact {
    width: 45%;
    text-align: left;
  }
  section.contact .contact-container .infos-contact span {
    font-size: 22px;
  }
  section.contact .contact-container .infos-contact p {
    font-size: 16px;
  }
  section.contact .contact-container .infos-contact ul {
    display: inline-block;
  }
  section.contact .contact-container .send-message {
    width: 55%;
  }
  section.contact .contact-container .send-message form {
    align-items: flex-start;
  }
  section.contact .contact-container .send-message form label {
    width: 100%;
  }
  section.contact .contact-container .send-message form input {
    padding: 6px;
  }
  section.contact .contact-container .send-message form input,
section.contact .contact-container .send-message form textarea {
    width: 100%;
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  section.contact .contact-container {
    width: 90%;
    gap: 1rem;
  }
  section.contact .contact-container .infos-contact {
    width: 50%;
  }
  section.contact .contact-container .infos-contact span {
    font-size: 25px;
  }
  section.contact .contact-container .infos-contact p {
    font-size: 18px;
  }
  section.contact .contact-container .infos-contact ul li a {
    font-size: 20px;
  }
  section.contact .contact-container .infos-contact ul li a i {
    font-size: 20px;
  }
  section.contact .contact-container .send-message {
    width: 50%;
    padding: 0;
    padding-right: 2rem;
  }
  section.contact .contact-container .send-message form input,
section.contact .contact-container .send-message form textarea {
    width: 100%;
  }
  section.contact .contact-container .send-message form #btn-submit {
    font-size: 18px;
    padding: 8px;
  }
}
@media (min-width: 600px) {
  section.contact:target {
    scroll-margin-top: 1rem;
  }
}
@media (min-width: 900px) {
  section.contact:target {
    scroll-margin-top: 2rem;
  }
  section.contact #image-title-contact {
    width: 35px;
    height: 35px;
  }
}

footer {
  text-align: center;
  font-family: "Play", sans-serif;
  cursor: default;
  background: url("/assets/img/skills-wallpaper/html-wallpaper.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-container {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
footer .footer-container #dev-dots-img {
  width: 30px;
}
footer .footer-container strong {
  font-size: 12px;
  color: #eee;
}
footer .footer-container a {
  text-decoration: none;
  color: #eee;
}
footer .footer-container a i {
  font-size: 16px;
}
footer .footer-container a i:hover {
  color: rgb(0, 255, 200);
}
footer .footer-container a:nth-child(even) {
  padding-left: 3px;
}
@media (min-width: 600px) {
  footer .footer-container #dev-dots-img {
    width: 40px;
  }
  footer .footer-container strong {
    font-size: 15px;
  }
}
@media (min-width: 900px) {
  footer {
    height: 4.5rem;
  }
  footer .footer-container #dev-dots-img {
    width: 47px;
  }
  footer .footer-container strong {
    font-size: 16px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1a1a1a;
}

.title-section {
  display: inline-flex;
  align-items: center;
  text-align: center;
  gap: 15px;
  cursor: default;
}
.title-section h1,
.title-section h2,
.title-section h3,
.title-section h4,
.title-section h5 {
  text-transform: uppercase;
  text-align: center;
  transition: all 0.2s;
  font-size: 24px;
  font-weight: bold;
  color: #85c766;
}
@media (min-width: 700px) and (max-width: 900px) and (min-height: 1000px) and (orientation: portrait) {
  .title-section h1,
.title-section h2,
.title-section h3,
.title-section h4,
.title-section h5 {
    font-size: 28px;
  }
}
@media (min-width: 900px) {
  .title-section h1,
.title-section h2,
.title-section h3,
.title-section h4,
.title-section h5 {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .title-section h1,
.title-section h2,
.title-section h3,
.title-section h4,
.title-section h5 {
    font-size: 35px;
  }
}

.back-to-top {
  display: none;
  background: #85c766;
  border-radius: 50%;
  bottom: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  z-index: 3;
  box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, 0.75);
  color: white;
  cursor: pointer;
  position: fixed;
  animation: back-to-top 0.5s infinite alternate-reverse;
}
.back-to-top::after {
  content: "▲";
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  font-size: 25px;
  color: white;
}
.back-to-top:hover {
  background-color: #1a1a1a;
  border: solid 3px #85c766;
  text-decoration: none;
}
@-webkit-keyframes back-to-top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(8px);
  }
}
@keyframes back-to-top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(8px);
  }
}